
<!DOCTYPE HTML>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/Content/assets/css/main.css" />
    <style>
        body {
            overflow-x: hidden;
        }
    </style>
</head>
<body>

    <!-- Header -->
    <header id="header">
        <div class="inner" style="height:20px">
            <a href="~/Views/Home/Index" class="logo">HirMe</a>
            <nav id="nav">
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "Home", null, null)</li>
                    <li>@Html.ActionLink("Contact Us", "Contact", "Home", null, null)</li>
                    @if (User.IsInRole("Applicant") && Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Apply Here", "Index", "OpenPositions", null, null)</li>
                    }
                    @if (User.IsInRole("Manager") && Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Add Opening", "Create", "OpenPositions", null, null)</li>
                    }
                    @if (User.IsInRole("Manager") || User.IsInRole("Admin") && Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Applications","Index","Applications",null,null)</li>
                        <li>@Html.ActionLink("Open Positions", "Index", "OpenPositions", null, null)</li>
                        <li>@Html.ActionLink("Positions", "Index", "Positions", null, null)</li>
                    }
                    @if (User.IsInRole("Admin") && Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Users", "index", "UsersAdmin", null, null)</li>
                        <li>@Html.ActionLink("Roles", "index", "RolesAdmin", null, null)</li>
                        <li>@Html.ActionLink("Locations","index","Locations",null,null)</li>
                    }
                    <li>@Html.Partial("_LoginPartial")</li>
                </ul>
            </nav>
        </div>
    </header>
    <a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    <main style="margin-left:15%;margin-right:15%;">
        @RenderBody()
    </main>
    <!-- Footer -->
    <footer id="footer" style="height:4%;position:fixed;bottom:0;width:100%;padding-top:0">
        &copy;Zachary Thomas Mallicoat 2020
    </footer>

    <!-- Scripts -->
    <script src="~/Content/assets/js/jquery.min.js"></script>
    <script src="~/Content/assets/js/skel.min.js"></script>
    <script src="~/Content/assets/js/util.js"></script>
    <script src="~/Content/assets/js/main.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker").datepicker();
        });
    </script>
    @RenderSection("Scripts", required: false);
</body>
</html>