
<!DOCTYPE HTML>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/Content/assets/css/main.css" />
</head>
<body>

    <!-- Header -->
    <header id="header">
        <div class="inner">
            <a href="~/Views/Home/Index" class="logo">HirMe</a>
            <nav>
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "Home", null, null)</li>
                    @if (!Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("About Us", "About", "Home", null, null)</li>
                    }
                    @if (User.IsInRole("Applicant") && Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Apply Here", "Index", "OpenPositions", null, null)</li>
                    }
                    @if (User.IsInRole("Manager") && Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Add Opening", "Create", "OpenPositions", null, null)</li>
                    }
                    @if (User.IsInRole("Manager") || User.IsInRole("Admin") && Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Open Positions", "Index", "OpenPositions", null, null)</li>
                        <li>@Html.ActionLink("Positions", "Index", "Positions", null, null)</li>
                    }
                    @if (User.IsInRole("Admin") && Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("User Management", "index", "UsersAdmin", null, null)</li>
                    }
                    @if (User.IsInRole("Applicant") || User.IsInRole("Manager") || User.IsInRole("Admin") && Request.IsAuthenticated)
                    {

                    }
                    <li>@Html.Partial("_LoginPartial")</li>
                </ul>
            </nav>
        </div>
    </header>
    <a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    <main style="margin-left:15%;margin-right:15%;">
        @RenderBody()
    </main>
    <!-- Footer -->
    <section id="footer">
                &copy;Zachary Thomas Mallicoat 2020
    </section>

    <!-- Scripts -->
    <script src="~/Content/assets/js/jquery.min.js"></script>
    <script src="~/Content/assets/js/skel.min.js"></script>
    <script src="~/Content/assets/js/util.js"></script>
    <script src="~/Content/assets/js/main.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker").datepicker();
        });
    </script>
    @RenderSection("Scripts", required: false);
</body>
</html>