@model JobBoard.DATA.EF.OpenPosition

@{
    ViewBag.Title = "Details";
}

<h2 style="text-align:center">
    @Html.DisplayFor(model => model.Position.Title)
</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Location.StoreNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.StoreNumber)
        </dd>
        <dt>
            Manager
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.UserDetail.FirstName) @Html.DisplayFor(model => model.Location.UserDetail.LastName)
        </dd>
        <dd>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OpenPositionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
