@model JobBoard.DATA.EF.Location

@{
    ViewBag.Title = "Details";
}
<div style="text-align:center;">
    <h2>
        @Html.DisplayFor(model => model.StoreNumber)
    </h2>
    <hr />
    <dl class="dl-horizontal" style="text-align:left">
        <dt>
            Manager
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserDetail.FirstName) @Html.DisplayFor(model => model.UserDetail.LastName)
        </dd>

        <dt>
            Location
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City), @Html.DisplayFor(model => model.State)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LocationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
